body {
    padding: 2rem;
}

.right-container {
    /* background-color: green; */
    padding: 2rem;
    width: 40%;

}

.left-container {
    /* background-color: pink; */
    padding: 2rem;
    width: 60%;
}


.mb-3 i {
    position: absolute;
    right: 1.8rem;
    bottom: 2.7rem;
    color: #383c3f;
}

.right-container {
    background-color: rgb(231, 230, 230);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.usericon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-top: 1.2rem;
    margin-bottom: .5rem;
}



.btn-close {
    float: right;
    }


.name {margin-bottom: 0;}

.title {
    font-weight: 200;
}

.right-container__text--blue {
    color: rgb(7, 7, 124);
    line-height: 140%;
    font-weight: 300
}


.kabob-menu__singledot {
    height: .25rem;
    width: .25rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: .25rem;
}

.kabob-menu__singledot--selected {
    background-color: rgb(12, 73, 239);
}

.popup-modal__btn {
    width: 8rem;
}

.btn__textplacement {
    display: flex;
    justify-content: space-around;
    align-items: center;
}